################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Absurdle-Abs/v17/ipch/AutoPCH/644612f02ec9d823/ABSURDLE-ABS.ipch
/.vs/Absurdle-Abs/v17/Browse.VC.db
/.vs/Absurdle-Abs/v17/.suo
/.vs/Absurdle-Abs/v16/ipch/AutoPCH/644612f02ec9d823/ABSURDLE-ABS.ipch
/.vs/Absurdle-Abs/v16/Browse.VC.db
/.vs/Absurdle-Abs/v16/.suo
/.vs/Absurd C++ Application/v17/.suo
/Absurdle-Abs/.vs/Absurdle-Abs/v17/ipch/AutoPCH/9e6c73415211b270/ABSURDLE.ipch
/Absurdle-Abs/.vs/Absurdle-Abs/v17/Browse.VC.opendb
/Absurdle-Abs/.vs/Absurdle-Abs/v17/Browse.VC.db-wal
/Absurdle-Abs/.vs/Absurdle-Abs/v17/Browse.VC.db-shm
/Absurdle-Abs/.vs/Absurdle-Abs/v17/Browse.VC.db
/Absurdle-Abs/.vs/Absurdle-Abs/v17/.suo
/Absurdle-Abs/x64/Debug/vc143.pdb
/Absurdle-Abs/x64/Debug/vc143.idb
/Absurdle-Abs/x64/Debug/absurdle.obj
/Absurdle-Abs/x64/Debug/Absurdle-Abs.vcxproj.FileListAbsolute.txt
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/link.write.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/link.read.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/link.command.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/CL.write.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/CL.read.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/CL.command.1.tlog
/Absurdle-Abs/x64/Debug/Absurdle-Abs.tlog/Absurdle-Abs.lastbuildstate
/Absurdle-Abs/x64/Debug/Absurdle-Abs.pdb
/Absurdle-Abs/x64/Debug/Absurdle-Abs.log
/Absurdle-Abs/x64/Debug/Absurdle-Abs.ilk
/Absurdle-Abs/x64/Debug/Absurdle-Abs.exe.recipe
/Absurdle-Abs/x64/Debug/Absurdle-Abs.exe
/Absurdle-Abs/Absurdle-Abs.vcxproj.user
/Absurdle-Abs/Absurdle-Abs.vcxproj.filters
/Absurdle-Abs/Absurdle-Abs.vcxproj
/Absurdle-Abs/Absurdle-Abs.sln
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/fba954bb134597cf/ABSURDLE.ipch
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/b91488f3ac0c6d0f/ABSURDLE.ipch
/VisualStudio/.vs/Absurdle/v17/Browse.VC.opendb
/VisualStudio/.vs/Absurdle/v17/Browse.VC.db-wal
/VisualStudio/.vs/Absurdle/v17/Browse.VC.db-shm
/VisualStudio/.vs/Absurdle/v17/Browse.VC.db
/VisualStudio/.vs/Absurdle/v17/.suo
/VisualStudio/.vs/Absurdle/v16/Browse.VC.db
/VisualStudio/.vs/Absurdle/v16/.suo
/VisualStudio/Absurdle.vcxproj.user
/VisualStudio/Absurdle.vcxproj.filters
/VisualStudio/Absurdle.vcxproj
/VisualStudio/Absurdle.sln
/VisualStudio/x64/Debug/vc143.pdb
/VisualStudio/x64/Debug/vc143.idb
/VisualStudio/x64/Debug/Absurdle.vcxproj.FileListAbsolute.txt
/VisualStudio/x64/Debug/Absurdle.tlog/link.write.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/link.read.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/link.command.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/CL.write.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/CL.read.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/CL.command.1.tlog
/VisualStudio/x64/Debug/Absurdle.tlog/Absurdle.lastbuildstate
/VisualStudio/x64/Debug/Absurdle.pdb
/VisualStudio/x64/Debug/absurdle.obj
/VisualStudio/x64/Debug/Absurdle.log
/VisualStudio/x64/Debug/Absurdle.ilk
/VisualStudio/x64/Debug/Absurdle.exe.recipe
/VisualStudio/x64/Debug/Absurdle.exe
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/45b2db5eab9c59f3/WORD.ipch
/VisualStudio/x64/Release/Word.obj
/VisualStudio/x64/Release/vc143.pdb
/VisualStudio/x64/Release/Absurdle.vcxproj.FileListAbsolute.txt
/VisualStudio/x64/Release/Absurdle.tlog/unsuccessfulbuild
/VisualStudio/x64/Release/Absurdle.tlog/link.write.1.tlog
/VisualStudio/x64/Release/Absurdle.tlog/link.read.1.tlog
/VisualStudio/x64/Release/Absurdle.tlog/link.command.1.tlog
/VisualStudio/x64/Release/Absurdle.tlog/CL.command.1.tlog
/VisualStudio/x64/Release/Absurdle.tlog/Absurdle.write.1u.tlog
/VisualStudio/x64/Release/Absurdle.tlog/Absurdle.lastbuildstate
/VisualStudio/x64/Release/Absurdle.pdb
/VisualStudio/x64/Release/absurdle.obj
/VisualStudio/x64/Release/Absurdle.log
/VisualStudio/x64/Release/Absurdle.ipdb
/VisualStudio/x64/Release/Absurdle.iobj
/VisualStudio/x64/Release/Absurdle.exe.recipe
/VisualStudio/x64/Release/Absurdle.exe
/VisualStudio/x64/Debug/word.obj
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/e71a7c1c11db1b79/WORD.ipch
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/b374ad92b78da1a5/ABSURDLE.ipch
/VisualStudio/.vs/Absurdle/v17/ipch/AutoPCH/9abe7ece1cd3dbaf/WORD.ipch
/output.txt
/output-2.txt
/VisualStudio/x64/Release/Absurdle.tlog/CL.write.1.tlog
/VisualStudio/x64/Release/Absurdle.tlog/CL.read.1.tlog
/VisualStudio/x64/Debug/absurdle.obj.enc
/outpyt.txt
